:host {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

.header {
  display: flex;
  flex-direction: column;
  width: 250px;
  padding: 1rem;
  background-color: #f8fafc;
  border-right: 2px solid #e2e8f0;

}

.container {
  flex: 1;
  padding: 24px 16px;
  background-color: #ffff;
}
